---
layout: main
search_exclude: true
title: People
---
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Hosts & Guests</h2>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Featured Guests Area Start ***** -->
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-2"></div>
      <div class="col-8">
        {% include theme_guests_list.html limit=9999 %}
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <!-- ***** Featured Guests Area End ***** -->
