/* *********************************************
[Master Stylesheet]

Template Name: Poca - Podcast & Music Template
Template Author: Colorlib
Version: 1.0.0
Last Update: Dec 14, 2018

*********************************************

[Tables of CSS Content]

+ body
 - 01.0 Reboot CSS
 - 02.0 Spacing CSS
 - 03.0 Preloader CSS
 - 04.0 Heading CSS
 - 05.0 Backtotop CSS
 - 06.0 Buttons CSS
 - 07.0 Header CSS
 - 08.0 Hero CSS
 - 09.0 Music CSS
 - 10.0 Guest CSS
 - 11.0 About CSS
 - 12.0 Newsletter CSS
 - 13.0 Breadcrumb CSS
 - 14.0 Blog CSS
 - 15.0 Widget CSS
 - 16.0 Footer CSS
 - 17.0 Contact CSS

  ---------------------------------------------
  [Color Codes]

  $heading: #232323; [Heading Color]
  $text: #666666; [Text Color]
  $bg-gray: #f4f4f4; [Gray Background]
  $primary: #f55656; [Primary Color]
  $white: #ffffff; [White Color]
  $dark: #000000; [Dark Color]
  $border: #ebebeb; [Border Color]
  $hover: #f55656; [Hover Color]
  $secondary: #a6a6a6; [Secondary Color]

  ---------------------------------------------
  [Font Family: 'HK Grotesk']
--------------------------------------------- */
/* Import Fonts & All CSS */
@import 'css/default-assets/hkgrotesk-fonts.css';
@import 'css/bootstrap.min.css';
@import 'css/animate.css';
@import 'css/default-assets/classy-nav.css';
@import 'css/owl.carousel.min.css';
@import 'css/magnific-popup.css';
@import 'css/default-assets/audioplayer.css';
@import 'css/fontawesome.min.css'; // **************
// Utilities
// **************
@import "utilities/fonts";
@import "utilities/variables";
@import "utilities/responsive";
@import "utilities/color"; // *************
// Mixins
// *************
@import "mixins/flex";
@import "mixins/miscellaneous"; // **************
// Stylesheet
// *************
@import "reboot";
@import "spacing";
@import "preloader";
@import "heading";
@import "backtotop";
@import "buttons";
@import "header";
@import "hero";
@import "music";
@import "guest";
@import "about";
@import "newsletter";
@import "breadcrumb";
@import "blog";
@import "widget";
@import "footer";
@import "contact";
