<!-- #BEGIN: _includes/header.html -->
<!-- <style media="screen" type="text/css"> -->
<!-- header-style-1 { -->
<!-- 	background-image: url(/assets/imgs/hero-{{ page.site }}.jpg); -->
<!-- } -->
<!-- #headers .header-content { -->
<!-- 	padding: 90px 0 5px; -->
<!-- } -->
<!-- </style> -->
<div id="headers">
  <!-- Light header -->
  <header id="header-style-1" style="background-image: url(/assets/imgs/hero-{{ page.show }}.jpg);">
    {% include navbar.html %} 
    <div class="container">
      <div class="header-caption">
        <div class="row">
          <div class="col-md-12 header-content">
            <h3 class="header-title animated fadeInDown">having fun with how & why</h3>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- <h4 class="header-title animated fadeInDown">#TODO: conditionally show assets/imgs/logos/show.jpg if exists for page.show</h3> -->
  <!-- <h4 class="header-title animated fadeInDown">#TODO: and fade or cut the bottom of the hero image so the show art ocverlays like on gimlet shows</h3> -->
</div>
<!-- #END: _includes/header.html -->
