<div class="post-share">
  <p>Share</p>
  <div class="social-info">
    {%- capture facebook_share_url -%}
      {% include share_url_facebook url=page.url %}
    {%- endcapture -%}
    {%- capture twitter_share_url -%}
      {% include share_url_twitter url=page.url twitter_username=site.twitter_username %}
    {%- endcapture -%}
    {%- capture reddit_share_url -%}
      {% include share_url_reddit url=page.url title=page.title %}
    {%- endcapture -%}
    {%- capture email_share_url -%}
      {% include share_url_email url=page.url title=page.title %}
    {%- endcapture -%}
    <!-- <a href="{{ facebook_share_url | strip_newlines }}" class="facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a> -->
    <a href="{{ twitter_share_url | strip_newlines }}" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    <a href="{{ reddit_share_url | strip_newlines }}" class="reddit"><i class="fab fa-reddit" aria-hidden="true"></i></a>
    <a href="{{ email_share_url | strip_newlines }}" class="share-email"><i class="fas fa-envelope" aria-hidden="true"></i></a>
  </div>
</div>
