<!DOCTYPE html>
<html lang="en">

{% include theme_head.html %}
<body>
  {% include theme_preloader.html %}
  <!-- ***** Header Area Start ***** -->
  {% include theme_header.html %}
  <!-- ***** Header Area End ***** -->
  <!-- ***** Breadcrumb Area Start ***** -->
  {% include theme_breadcrumb.html %}
  <!-- ***** Breadcrumb Area End ***** -->

  {{ content }}

  {% include theme_newsletter.html image_path='/assets/img/bg-img/selfies/minority_report.jpg' %}

  {% include theme_footer.html %}

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="/assets/js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="/assets/js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- All js -->
  <script src="/assets/js/poca.bundle.js"></script>
  <!-- Active js -->
  <script src="/assets/js/default-assets/active.js"></script>
  <script defer src="/assets/js/all.min.js"></script>
  {% for script in page.scripts %}
    <script src="{{ script }}"></script>
  {% endfor %}



</body>

</html>
