---
layout: main
---
<!-- ***** Latest Episodes Area Start ***** -->
<div class="container">
  <div class="row">
    <!-- Section Heading -->
    <div class="col-12">
      <div class="section-heading text-center">
        <h2>{{  page.person_data.name }}</h2>
        <!-- <div class="line"></div> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center guest-info">
      {% responsive_image_block %}
        path: {{ page.person_data.image_path }}
        alt: {{ page.person_data.name }} headshot
      {% endresponsive_image_block %}
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12 text-center guest-info">
      {{ page.person_data.title }}
    </div>
  </div>
  <div class="row my-3">
    <div class="section-heading col-12 text-center guest-info justify-center">
      <div class="mb-3">
        {% for social_site in page.person_data.social %}
          {% if social_site.name == 'twitter' %}
            {% assign social_icon_class = 'fab fa-twitter' %}
          {% elsif social_site.name == 'instagram' %}
            {% assign social_icon_class = 'fab fa-instagram' %}
          {% elsif social_site.name == 'youtube' %}
            {% assign social_icon_class = 'fab fa-youtube' %}
          {% elsif social_site.name == 'facebook' %}
            {% assign social_icon_class = 'fab fa-facebook' %}
          {% else %}
            {% assign social_icon_class = 'fas fa-link' %}
          {% endif %}
          <span class="mr-3">
            <a href="{{ social_site.url }}"><i class="{{ social_icon_class }} mr-1"></i>{{ social_site.name | capitalize }}</a>
          </span>
        {% endfor %}
        {% for website in page.person_data.websites %}
          <span class="mr-3">
            <a href="{{ website.url }}"><i class="fas fa-home mr-1"></i>{{ website.name  }}</a>
          </span>
          </span>
          {% endfor %}
      </div>
      <div class="line"></div>
    </div>
  </div>
</div>

<div class="container post-details-text mb-4">
  <div class="post-content">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8 text-center">
        {{ page.person_data.bio }}
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
</div>
  <!-- ***** Featured Post Area Start ***** -->
  {% comment %}
    TODO: loop episodes of this person somehow
    {% assign episodes = site.categories['episode'] %}
    {%- for episode in episodes limit: 1 -%}
      {% include theme_post_preview_featured.html post=episode %}
    {%- endfor -%}
  {% endcomment %}
  <!-- ***** Featured Post Area End ***** -->

