---
layout: main
---
{% comment %}
{% include podcast_subscribe.html %}
{% endcomment %}

<!-- Big label -->
<div class="container">
  <div class="row">
    <!-- Section Heading -->
    <div class="col-12">
      <div class="section-heading text-center mb-0">
        <h2>{{ page.title }}</h2>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>

<!-- Paginator links -->
{% include theme_paginator_links.html paginator=paginator %}

<!-- Categories menu -->
{% assign subsite_episodes = site.categories[page.subsite] | where: 'categories', 'episode' | reverse %}
{% assign slice_start = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign categories_all = subsite_episodes | slice: slice_start, paginator.per_page | map: 'categories' | uniq %}
{% include theme_listing_categories.html categories=categories_all %}

<!-- This loops through the paginated posts -->
<div class="container">
  <div class="row poca-portfolio">
    {% for episode in paginator.posts %}
      {% include theme_post_preview_thumbnail.html episode=episode %}
    {% endfor %}
  </div>
</div>

<!-- Paginator links -->
{% include theme_paginator_links.html paginator=paginator %}
  <div class="row mb-30">
    <div class="col-12 text-center minor-link mt-3">
        <a href="/{{ page.subsite }}/episodes_all/">list all episodes in one page</a>
    </div>
  </div>
</div>
