---
layout: main
---
<!-- ***** Latest Episodes Area Start ***** -->
<div class="container">
  <div class="row">
    <!-- Section Heading -->
    <div class="col-12">
      <div class="section-heading text-center">
          <h2>{{  page.title }}</h2>
        <div class="row">
          <div class="line"></div>
        </div>
        <div class="text-center mb-2 mt-0 pt-0">
          <span class="music-published-date">
            {{ page.date | date: '%Y.%m.%d' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="post-details-text">
      <div class="col-12 text-center post-content">
        {% if page.image %}
          {% responsive_image_block %}
            path: {{ page.image.path }}
            alt: {{ page.image.alt }}
          {% endresponsive_image_block %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container post-details-text mb-4">
  <div class="post-content">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        {{ content }}
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
</div>
